
section{
    display: flex;
}
h1 span{
    color:magenta
}
.try-width{width: 50%;
    margin-left: 5px 5px;
}
.try-width img{width:80%;
    margin-top: 5px 5px;
}
.button-link{text-decoration:none;
background-color:#ffa500;
color:crimson;
padding: 10px;
}
.photo{width:100%;
    height: 230px;
    size: 80px;
    background-color:grey;
}
.h-run{
    width: 100%;
    height: 20%;
}
.m-boss{
    width: 50%;
    height: 50%;
    margin-right: 5px;
}
.journey{
    width: 100px;% ;
    height: 100%;
}
.footer-sec{width: 100%;
    background-color: olive;
    }

